
<nav  class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
            <button *ngIf="userLoggedIn() != 'admin'" type="button" id="ham" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
            
      <button  *ngIf="userLoggedIn() == 'admin'" type="button" class="navbar-toggle collapsed" aria-expanded="false" (click)="closeSideNav()">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <a id="logo" routerLink="/" class="navbar-brand"><span><img id="logo" src="../../assets/logo/favicon-32x32.png"></span>MagicDecor</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" (click)='closeNav()'>
      <ul id="rightOptions" *ngIf="userLoggedIn() == false" class="nav navbar-nav navbar-right">    
          <li routerLinkActive="activelink" (click)="startAnimation()"><a routerLink="/about">About us</a></li>
          <li routerLinkActive="activelink" (click)="startAnimation()"><a routerLink="/contact">Contact us</a></li>
          <li id="login" routerLinkActive="activelink" (click)="startAnimation()"><a routerLink="/login">Login</a></li>
      </ul>

      <ul id="rightOptions" *ngIf="userLoggedIn() == 'user'" class="nav navbar-nav navbar-right">
          <li routerLinkActive="activelink" (click)="startAnimation()" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/user">Dashboard</a></li>
          <li routerLinkActive="activelink" (click)="startAnimation()"><a routerLink="/user/messenger">Feedback</a></li>
          <li routerLinkActive="activelink" (click)="startAnimation()"><a routerLink="/user/profile">Profile</a></li>
          <li routerLinkActive="activelink"><a (click) = "logout()">Logout</a></li>
      </ul>

      <ul id="rightOptions" *ngIf="userLoggedIn() == 'admin'" class="nav navbar-nav navbar-right">
          <li routerLinkActive="activelink" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/admin">Dashboard</a></li>
          <li routerLinkActive="activelink"><a routerLink="/admin/messages">Messages</a></li>
          <li routerLinkActive="activelink"><a (click) = "logout()">Logout</a></li>
      </ul>

    </div>
</nav>