<div class="parallax">
  <div class="main">
    <p>You are going to love designing your home. <br>Create BOLD (Brilliant, Original, Limitless, Designs) and view it in 3D, so
      what are you waiting for?</p>
  </div>
  <div class="button-awesome" align="center">
    <a class="btn btn-full" routerLink="/login">Design Your Room Now</a>
    <a class="btn btn-full" data-toggle="modal" href='#modal-id'>Watch Video </a>
  </div>
</div>
<div class="modal fade bounceInUp animated" id="modal-id" role="dialog" aria-hidden="true">
    <div class="row">
        <button class="btn" style="color: white" id="closebtn" data-dismiss="modal" aria-label="Close">&times;  </button>
      </div>
  <div class="modal-body">
    <!-- <iframe class="video" src="https://youtu.be/nHytp971fqk"></iframe> -->
    <iframe width="1000"  height="500" src="https://www.youtube.com/embed/nHytp971fqk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <div class="button-awesome" align="center">
          <a class="btn btn-full" data-dismiss="modal" routerLink="/login">Design Your Room Now</a>          
    </div>
  </div>
</div>
