<div class="fullpage">
<div class="heading">
  <h4>ABOUT US</h4>
</div>
<div class="contents">
  <p class="about">This site has been created by the Mindtree minds, from the Angular team of the Web Tech branch, as their project  during the orchard learning program using MEAN - Mongo , Express, Angular 5 and Node.
      We have used Three.js as the Graphic library to create the canvas and to work with the objects. It is only accesible by Mindtree Minds as it makes use of Adal Login. It can also be used as an app beacause of PWA implementation.
       We did learn many things and it had been a great journey in developing this project under a professional environment for the first time.
  </p>
<div class="work">
    <div class="tech">
        <h1>Technologies Powering MagicDecor</h1>
        <p><img src="../assets/mean.png"></p>
    </div>
    <h1>How does it work?</h1>
    <p><img class="inside" src="../assets/meanstack_inside.jpg"></p>
</div>
</div>
</div>