/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: white;
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 160px;
    background-color: darkorange;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
    border-radius: 0;
}
.card-img-top{
    height:auto;
    width: 70%;
}
.modalimg{
    height:400px;
    width:100%;
}
.modal-title{
    font-weight: bold;
    font-size: 20px;
}
.replySection{
    padding:20px;
    color:rgb(153, 130, 0);
    margin-top:15px;
    margin-bottom:15px;    
    border-radius:3px;
    border:1px solid #ccc;
    background:#eee;
}
.well{
    background-color : white;   
}
.msgSection{
    padding:20px;
    margin-top:15px;
    margin-bottom:15px;    
    border-radius:3px;
    border:1px solid #ccc;
    background:#eee;
}
#name{
  text-align: center;
  font-family: Georgia, Serif;
  font-weight : bold;
}

.panel{
    border: 1px solid #999;
    cursor: pointer;
}
.chatPanel{
    width:60%;
    margin-top:15px;
}
label{
 text-align: center;
  font-family: Georgia, Serif;
  font-weight : bold;
  font-style: italic;
  padding-left : 5px;  
  padding-right : 5px;      
}
a{
    text-decoration: none;
    color : black;
}
#effect:hover{
 box-shadow: 0 1px 30px rgba(0,0,0,.3);
 transform: scale(1.10);
 transition: box-shadow 0.2s ease, transform 0.2s ease;
}
button{
    font-family: Georgia, Serif;
  font-weight : bold;
  font-style: italic;
}
b{
   font-family: Georgia, Serif;
  font-weight : bold;
  font-style: italic; 
}
h3{
    text-align: center;
    color : grey;
    font-family: Georgia, Serif;   
    padding-top : 20vh; 
    padding-bottom : 20vh;     
}