<div class="fullpage">
  <div class="heading">
    <h4>Select your Room Category</h4>
  </div>
  <div class="contents">
    <div class="container">
      <div class="row show-grid">
        <div class="col-md-4">
         
            <article class="image">
                  <a [routerLink]="['layouts', 'Bedroom']">
                    <img src="../../../assets/bedroom.jpeg"/>
                    <p>Bed Room</p>
                  </a>
              </article>
        
        </div>
        <div class="col-md-4">
       
              <article class="image">
                  <a [routerLink]="['layouts', 'Dining Room']">
                    <img src="../../../assets/diningroom.jpeg"/>
                    <p>Dining Room</p>
                  </a>
              </article>
    
        </div>
        <div class="col-md-4">
      
              <article class="image">
                <a [routerLink]="['layouts', 'Living Room']">
                  <img src="../../../assets/livingroom.jpeg"/>
                  <p>Living Room</p>
                </a>
              </article>
       
        </div>

        <div class="col-md-4">
      
              <article class="image">
                <a [routerLink]="['layouts', 'Bathroom']">
                  <img src="../../../assets/bathroom.png"/>
                  <p>Bath Room</p>
                </a>
              </article>
         
        </div>

        <div class="col-md-4">
        
              <article class="image">
                  <a [routerLink]="['layouts', 'Study Room']">
                    <img src="../../../assets/studyroom.png"/>
                    <p>Study Room</p>
                  </a>
              </article>
     
        </div>
        <div class="col-md-4">
         
              <article class="image">
                <a [routerLink]="['layouts', 'Home Theatre']">
                  <img src="../../../assets/hometheater.png"/>
                  <p>Home Theatre</p>
                </a>
              </article>
       
        </div>
      </div>
    </div>
  </div>
</div>