<div style="padding:0px"><h3 class="head">DASHBOARD</h3></div>
  <div>
    <div class="row" id="first">
      <div class="bg-img"><br><br><br><br>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="panel panel-default"  id="pan">
            <div class="panel-body">
              <h1><span class="glyphicon glyphicon-th"></span></h1>
              Number of Projects <br><br>
              <b>{{No_repo}}</b>
            </div>
          </div>
      </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="panel panel-default" id="pan3">
            <div class="panel-body">
              <h1><span class="glyphicon glyphicon-home"></span></h1>
              Number of Layouts <br><br>
              <b>{{numlayout}}</b>
            </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="panel panel-default" id="pan4">
            <div class="panel-body">
              <h1><span class="glyphicon glyphicon-bed"></span></h1>
              Number of Objects <br><br>
              <b>{{numOb}}</b>
            </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="panel panel-default"  id="pan2">
            <div  class="panel-body"> <!-->*ngIf="notification>0" [ngStyle]="{'background':'#e54d42',  'color' : '#fff'}"-->
              <h1><span class="glyphicon glyphicon-envelope"></span></h1>
              New Messages <br><br>
              <!--<div [ngStyle] = "{'color':'#fff'}">-->
              <b>{{notification}}</b>
              <!--</div>-->
            </div>
           
            <!--<div *ngIf="notification == 0" class="panel-body">
              <h1><span class="glyphicon glyphicon-envelope"></span></h1>              
              No New <br><br>
              Messages
            </div>-->
          </div>
      </div>
    </div>
    </div>

    <div class="row" style="padding-top: 2%;">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-danger" id="card" style="padding:2%;">
            <div class="x_title" id="line">
              <h3 class="title"> Projects per User Graph <small> Session</small></h3>    
            </div>
            <div class="x_content">
                <div *ngIf="chart">
                  <canvas id="user-graph"></canvas>
                </div>
            </div>
          </div>
      </div>
    </div>

    <div class="row" style="padding-top : 2%;"> 
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-info" id="card" style="padding:5%;">
            <div class="x_title">
              <h3 class="title"> Layout Graph <small> Session</small></h3>
            <div class="clearfix"></div>
          </div>
          <div class="pie">
              <canvas id="canvas" width="600" height="400">
              </canvas>
          </div>
        </div>
      </div>
       <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-info" id="card" style="padding:5%;">
            <div class="x_title">
              <h3 class="title"> Objects Graph <small> Session</small></h3>
            <div class="clearfix"></div>
          </div>
          <div class="pie">
          <canvas id="canvasObj" width="600" height="400"></canvas>
          </div>
        </div>
      </div>
        
    </div>

    <div class="row">  
      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="table-responsive">
              <table class="table table-striped table-hover">
                <caption>Layout Categories</caption>
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Number of Rooms</th>          
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Living Room</td>
                    <td>{{live}}</td>
                  </tr>
                   <tr>
                    <td>Bed Room</td>
                    <td>{{bed}}</td>
                  </tr>
                   <tr>
                    <td>Bath Room</td>
                    <td>{{bath}}</td>
                  </tr>
                   <tr>
                    <td>Study Room</td>
                    <td>{{study}}</td>
                  </tr>
                   <tr>
                    <td>Home Theater</td>
                    <td>{{theater}}</td>
                  </tr>
                   <tr>
                    <td>Dinning Room</td>
                    <td>{{dine}}</td>
                  </tr>
                </tbody>
              </table>
        </div>  
      </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="table-responsive">
              <table class="table table-striped table-hover">
                <caption>Objects per Layouts</caption>
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Number of Rooms</th>          
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Living Room</td>
                    <td>{{live}}</td>
                  </tr>
                   <tr>
                    <td>Bed Room</td>
                    <td>{{bed}}</td>
                  </tr>
                   <tr>
                    <td>Bath Room</td>
                    <td>{{bath}}</td>
                  </tr>
                   <tr>
                    <td>Study Room</td>
                    <td>{{study}}</td>
                  </tr>
                   <tr>
                    <td>Home Theater</td>
                    <td>{{theater}}</td>
                  </tr>
                   <tr>
                    <td>Dinning Room</td>
                    <td>{{dine}}</td>
                  </tr>
                </tbody>
              </table>
        </div>  
      </div>
       
    </div>
<div class="row" id="info">
  <div class="bg-img"><br>
<h2 class="content" style="font-style:normal;"> INSTRUCTIONS</h2>
<div class="col-md-6">
<h3 class="infoHead"> Uploading Layouts</h3>
<h4> <span id="tab">In</span> order to upload Layouts, you are required to upload walls in their respective sequence for a perfect room.
  Also, while taking the picture for the preview, kindly take the perfect angle for the better display at the user's end.
</h4>
</div>
<div class="col-md-6">
<h3 class="infoHead"> Uploading Object</h3>
<h4> <span id="tab">Since</span> it is a 3D project, it requires 3D models that are not easily available. To upload the Objects, there are three most important files to work as expected.
<br><br>
    <li>The js File : It must be in the .js format with json data.</li><br>
    <li>The Texture : it is for the texture of the Object</li><br>
    <li>The Thumbnail : It must be saved with Thumb.jpg ending</li><br>    
  
</h4>
</div>
</div>
</div>
</div>